# Normalize text files.
* text=auto

# Treat 3D model assets as binary files.
*.3mf binary
*.fbx binary
*.glb binary
*.gltf binary
*.iges binary
*.igs binary
*.obj binary
*.ply binary
*.step binary
*.STEP binary
*.stl binary
*.STL binary
